@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;

    background: linear-gradient(90deg, rgba(115,0,255,1) 0%, rgba(147,102,255,1) 50%, rgba(115,0,255,1) 100%);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vh 2vh; /* Adjusted for a balanced padding */
    background: linear-gradient(90deg, rgba(115,0,255,1) 0%, rgba(147,102,255,1) 50%, rgba(0,215,255,1) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; /* This might need adjustment */
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
}

@keyframes nav-bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.main-logo img {
    vertical-align: middle;
} .main-logo img:hover{
    animation: nav-bounce 1s infinite;
}

.list {
    display: flex;
    gap: 30px;
    margin-right: 10vh;
}

.links{
    color: #fff;
    text-decoration: none;
} .links:hover{
    color: gray;
}

/* Footer Styles */
footer {
    background-color: #374151;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0px 15px 30px rgba(0,0,0,1);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-info,
.social-media {
    flex: 1;
}

.footer-info h3,
.social-media h3 {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: 0 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

.footer-info p{
    color: #98a8c3;
}

/* Copyright */
.copyright {
    margin-top: 20px;
    color: #98a9c3
}




/*  CAREERS */


/*intro*/
.introduction{
    text-align: center;
    align-items: center;

    color: #fff;

    margin: 0vh 50vh;
    padding-bottom: 10vh;
}

.introduction h1{
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
.introduction h3{
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

/*next section*/
.next-section{
    margin-top: 20vh;
    margin-bottom: 2vh;
}


/* job searcher */
.new-recruits {
    margin: 0vh 30vh;
    align-items: center;
    text-align: center;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    padding: 40px 0px;
}

.section-info-container{
    padding: 16px 0px;
}

.search-container {
    margin-top: 45px;
    margin-bottom: 20px;

    text-align: center;
}


/* Search Bar Styles */
#searchInput {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff; /* White background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}

#searchInput:focus {
    outline: none;
    background-color: #f0f3f8; /* Light blue background color on focus */
}

#searchButton {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green color for the button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}

#searchButton:hover {
    background-color: #45a049; /* Darker green color on hover */
}


/* Tabs Styles */
.job {
    background-color: #fff; /* White background color */
    color: #1e1e1e;
    border: 3px solid #252525;
    border-radius: 10px;

    padding: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;

    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}

.job:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger box shadow on hover */
}




/* APPLICATION FORM LINK */
.about-link-button{
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 6vh;
}

.about-link-button button{
    padding: 30px;
    width: 300px;
    background-color: #7d50ff;
    border: none;
    outline: transparent;
    color: #fff;
    border-radius: 40px;
}

.about-link-button a {
    text-decoration: none;
    text-decoration: solid;
}

.about-link-button a:hover{
    color: #fff;
}.about-link-button a button:hover{
    color: #7d50ff;
    background: #fff;
    cursor: pointer; 
    outline: 3px solid #7d50ff;
}
